react_app_base_url = 'https://api.themoviedb.org/3/'
react_app_image_base_url = 'https://image.tmdb.org/t/p/w500/'
react_app_avatar_base_url = 'https://secure.gravatar.com/avatar/'
react_app_api_v3_auth= '2c6cd383602f9dd84e2c543271f39c40'
react_app_api_v4_auth = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmYTAwODM4YzI0ZTVhNjRjYjZjNTcwNTkzZGYwMjY3MyIsInN1YiI6IjYzOWNiZjFmZDJiMjA5MDBmMGZmMzQ0NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.u-2GR591Qq78UrPmls7rop7Tgikfxu4Sz3GWWkoq23I'
